@media(max-width: 1920px){
    .container .card-login{
        height: 55vh;
    }
}
@media(max-width: 1400px){
    .container .card-login{
        height: 85vh !important;
    }
    .info-banple .logo ::before{
        width: 90% !important;
        left: calc(50% - 166px) !important;
    }
}
@media(max-width: 1199px){
    .info-banple .logo ::before{
        width: 80% !important;
        left: calc(50% - 126px) !important;
    }
}
@media(max-width: 991px){
    .card-login{
        height: 85vh !important;
    }
    .info-banple .logo ::before{
        width: 90% !important;
        left: calc(50% - 129px) !important;
    }

    .details{
        font-size: 1rem !important;
    }
}

@media(max-width: 768px){
    .forget, .background-login{
        height: 85vh;
    }
    .login-form .email-forget{
        padding-bottom: 4rem;
    }
    .container{
        height: auto;
    }
    .background-image{
        height: 120vh;
    }
    .responsive{
        display: block;
        position: absolute;
        top: 2rem;
        left: calc(50% - 139px);
        z-index: 2;
        color: white;
        text-align: center;
    }
    .responsive img{
        width: 250px;
    }
    .background-color{
        display: none;
    }
    .background-login {
        border-radius: 0.7rem;
        margin: 10rem 0 2rem;
    }
    .login-form input{
        margin: 0.8rem 0;
    }

    /*pagina de reseteo de contraseña*/
    .password-repet{
        margin-bottom:4rem;
    }
}

@media(max-width: 419px) {  
    .forget, .background-login{
        height: 73vh;
    }
    .forget{
        height: 60vh;
    }
    .info-password p{
        font-size: 0.8rem;
    }
    .login-form .email-forget{
        padding-bottom: 4rem;
    }
    .background-color{
        display: none;
    }
    .container{
        height: auto;
    }
    .background-image{
        height: 105vh;
        background-size: cover;
    }
    .responsive{
        display: block;
        position: absolute;
        top: 2rem;
        left: calc(50% - 139px);
        z-index: 2;
        color: white;
        text-align: center;
    }
    .responsive img{
        width: 250px;
    }
    .background-login {
        border-radius: 0.7rem;
        margin: 10rem 0 2rem;
    }
    .login-form input{
        margin: 0.8rem 0;
    }
    .facebook p, .google p{
        padding: 0;
        font-size: 1.1em !important;
    }
    .or-login p::before, .or-login p::after{
        width: 35% !important;
    }

    /*pagina de reseteo de contraseña*/
    .password-repet{
        margin-bottom: 4rem;
    }
}

@media(max-width: 321px) {
    .google p,.facebook p{
        font-size: 0.9rem !important;
    }
}