//tipografia lato y ubuntu
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Ubuntu:500&display=swap');

//Colores
$degradado-principal: linear-gradient(120deg, #30CFD0, #330867); 
$color-principal: #001E6B; 
$color-overlay: rgba(12, 34, 87, 0.3);
$color-facebook: #3B5998; 
$color-texto-placeholder: #C2C3C5;
$color-texto: #b9b9b9; 
$color-texto-secundario: #707070;
$color-white: #fff;

//Tamaño de letra
$principal-font-size: 1.2em; 

//Tipografia 
$principal-font: 'Lato', sans-serif;

//tamaños de botones e inputs
$full: 100%;

//mixin de letras placeholder, overlays
@mixin font($color, $size){
    color: $color;
    font-size: $size;
}
@mixin overlay($posision, $top, $bottom, $left, $right){
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}